<h1>Taking Care of your Child's Teeth: An Introduction</h1>

<% if !user_signed_in? %>
	<p>Want to manage your child's dental health? <%= link_to 'Sign up here!', new_user_registration_path %></p>
	<p>Coming back to add more data? <%= link_to "Please sign in!", new_user_session_path %></p>
<% else %>
	<p>Enter new brushing/flossing/mouthwash records</p>
	<p>View all of brushing/flossing/mouthwsahing records</p>
<% end %>

<%= link_to "Take the Tutorial!", babyteeth_path %>

